// Load SASS partials
@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_reset.scss' as *;
@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_fontface.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

// style videos list
.videos {
    &__container {
        @extend .flex-container;
        justify-content: flex-start;
    }

    &__title {
        font-weight: $font-weight-bold;
        color: $primary-color-tertiary;

        @include flex-item-realestate(1, 1, 100%);
        @include padding-headline("mobile");

        @include tablet-responsive {
            @include padding-headline("tablet");
        }
    }
}