@use './variables' as *;
@use './fontface' as *;
@use './mixins' as *;

/* ## Default Styles ## */

body {
    font-family: $font-face;
    font-size: $size-increment-x2;
    line-height: $size-increment-x2-1;
    font-weight: $font-weight-regular;
    color: $primary-color-main;
}
a {
    text-decoration: none;
    font-style: normal;
    color: $primary-color-main;
}
h1, h2 {
    font-size: $size-increment-x2-1;
    line-height: $size-increment-x3;
}
h3, h4 {
    font-weight: $font-weight-regular;
}
hr, img, video, input {
    width: 100%;
}
hr {
    height: 1px;
    background-color: $alternate-color-tertiary;
}
span {
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    @extend .flex-container;
    
    max-width: $site-container;
    padding: 0 $size-increment-x2;
    margin: 0 auto;

    @include tablet-responsive {padding: 0 $size-increment-x3-1;}
    @include desktop-responsive {padding: 0 0;}
}

.label {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}

.form-field {
    min-height: $size-increment-x3-1;
    min-width: 15rem;
    width: 100%;
    font-family: $font-face;
    color: $primary-color-main;
    border-radius: $size-increment-x1;
    border: 1px solid $alternate-color-tertiary;
    padding: $size-increment-x1-2;
    
    &:active, &:focus, &:focus-visible {
        border-width: 2px;
        border-color: $primary-color-secondary;
        outline-color: $primary-color-secondary;
    }

    @include tablet-responsive {
        min-height: $size-increment-x3-2;
    }
}
