@use './variables' as *;

/* ## Reset ## */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, cite, a,
ul, li, figure, figcaption, footer, header,
nav, section, form, input, button, textarea, img, video, hr{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}