/* ##   size increments   ## */

$size-increment-x1: .25rem; /* 4px */
$size-increment-x1-1: .5rem; /* 8px */
$size-increment-x1-2: .75rem; /* 12px */

$size-increment-x2: 1rem; /* 16px */
$size-increment-x2-1: 1.5rem; /* 24px */

$size-increment-x3: 2rem; /* 32px */
$size-increment-x3-1: 2.25rem; /* 36px */
$size-increment-x3-2: 2.5rem; /* 40px */

$size-increment-x4: 3rem; /* 48px */ 
$size-increment-x4-1: 3.5rem; /* 56px */

$size-increment-x5: 4rem; /* 64px */ 
$size-increment-x6: 5rem; /* 80px */ 

/* ##   colors   ## */

$primary-color-main: #323232;
$primary-color-secondary: #0095FF;
$primary-color-tertiary: #AFAFAF;
$primary-color-quartary: #FFFFFF;

$alternate-color-main: #000000;
$alternate-color-secondary: #0065AD;
$alternate-color-tertiary: #E1E1E1;
$alternate-color-quartary: #FAFAFA;

/* ##   font   ## */

$font-path: "../../assets/fonts";
$font-face: AvenirNext, Arial, Helvetica, sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* ##   container/breakpoints   ## */

$site-container: 1044px;
$desktop-resolution: 1280px;
$tablet-resolution: 768px;

/* ##   form   ## */
$form-field-min-width: 240px;
