// Load SASS partials
@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_reset.scss' as *;
@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_fontface.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

// main styles all details for featured video
.main {
    @include padding-component("mobile");

    @include tablet-responsive {
        @include padding-component("tablet");
    }

    &__title {

        @include padding-headline("mobile");

        @include tablet-responsive {
            @include padding-headline("tablet");
        }

        @include desktop-responsive {
            padding-right: $size-increment-x2-1;
        }

    }

    // details include - channel name / views / likes / timestamp
    &__details {
        @extend .flex-container;

        justify-content: space-between;
        color: $primary-color-tertiary;
        padding-right: 20%;

        padding-top: $size-increment-x2;
        @include horizontal-line("top/bottom");
        @include padding-component("mobile");
        @include flex-item-realestate(1, 1, 100%);

        @include tablet-responsive {
            @include padding-component("tablet");
            padding-top: $size-increment-x2-1;
            padding-right: 0;
        }

        @include desktop-responsive {
            padding-right: $size-increment-x2-1;
        }
    }

    &__creator,
    &__stats {
        @include tablet-responsive {
            display: flex;
        }

    }

    &__views,
    &__likes {
        &:before {
            padding-right: $size-increment-x1-1;
            position: relative;
            top: 2px;
        }
    }

    &__views,
    &__channel {
        @include padding-component("mobile");

        @include tablet-responsive {
            @include padding-headline("none");
            margin-right: $size-increment-x3;
        }
    }

    &__views {
        &:before {
            content: url("../../assets/icons/views.svg");
        }
    }

    &__likes {
        &:before {
            content: url("../../assets/icons/likes.svg");
        }
    }

    // body includes video description
    &__body {
        @include padding-component("mobile");

        padding-top: $size-increment-x2;

        @include tablet-responsive {
            @include padding-component("tablet");
            padding-top: $size-increment-x2-1;
        }

        @include desktop-responsive {
            padding-right: $size-increment-x2-1;
        }
    }

    &__channel,
    &__comments {
        color: $primary-color-main;
        font-weight: 700;
    }
}