@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;


.call-to-action {
    @extend .flex-container;

    width: 100%;
    height: $size-increment-x3-2;
    background-color: $primary-color-secondary;
    background-position: $size-increment-x1-1 center;
    background-repeat: no-repeat;
    color: $primary-color-quartary;
    font-size: 1.15rem;
    font-weight: $font-weight-bold;
    border-radius: $size-increment-x1;
    text-transform: uppercase;
    cursor: pointer;
    
    transition: background .2s ease-in-out;

    &:hover, &:active {
        background-color: $alternate-color-secondary;
    }

    &--upload {
        background-image: url("../../assets/icons/upload.svg");
    }

    &--comment {
        background-image: url("../../assets/icons/add_comment.svg");
    }

    @include tablet-responsive {
        min-width: 9.375rem;
        padding: 0 $size-increment-x3;
    }
}