// Load SASS partials
@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_reset.scss' as *;
@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_fontface.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

// comment form styles
.converse {

    // container inludes all the elements - avatar/form/button
    &__container {
        @extend .flex-container;

        justify-content: flex-start;
        flex-wrap: nowrap;
        column-gap: $size-increment-x2;

        @include padding-component("mobile");

        @include tablet-responsive {
            column-gap: $size-increment-x2-1;
            @include padding-component("tablet");
        }
    }

    // comment form styles - includes textarea/button
    &__form {
        @extend .flex-container;
        flex-wrap: wrap;

        @include flex-item-realestate(1, 1, auto);

        @include desktop-responsive {
            padding-right: $size-increment-x2-1;
        }

    }

    // comment textarea label
    &__label {
        @extend .label;
        font-weight: $font-weight-regular;
        color: $primary-color-tertiary;

        @include flex-item-realestate(1, 1, 100%);
    }

    // textarea styles 
    &__box {
        @extend .form-field;
        resize: none;
        height: $size-increment-x6;
        margin: $size-increment-x1 0 $size-increment-x2;

        @include flex-item-realestate(1, 1, 100%);

        @include tablet-responsive {
            height: calc($size-increment-x3-2 - .7rem);
            padding-top: .7rem;
            margin-right: $size-increment-x2-1;
            padding-bottom: 0;
            margin-bottom: 0;
            @include flex-item-realestate(1, 1, 70%);
        }

        @include desktop-responsive {
            @include flex-item-realestate(1, 1, 64%);
        }
    }

    &__box::placeholder {
        color: $primary-color-main;
    }

    // submit button extends call to action styles defined in globals partials 
    &__submit {
        @extend .call-to-action;
        @extend .call-to-action--comment;

        @include flex-item-realestate(1, 1, 100%);

        @include tablet-responsive {
            @include flex-item-realestate(1, 1, 25%);
        }

        @include tablet-responsive {
            @include flex-item-realestate(1, 1, 15%);
        }

        @include desktop-responsive {
            @include flex-item-realestate(1, 1, 31%);
        }
    }

    // adjust user avatar 
    .avatar {
        @include tablet-responsive {
            align-self: flex-end;
        }
    }
}