// Load SASS partials
@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_reset.scss' as *;
@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_fontface.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

// header styles 
.masthead {
    box-shadow: 1px 1px $alternate-color-tertiary;

    // container includes logo - search - upload - avatar
    &__container {
        @extend .container;

        padding-top: $size-increment-x2;
        @include padding-component("mobile");
    }

    // branding includes logo 
    &__branding {
        @extend .flex-container;

        @include flex-item-realestate(1, 1, 100%);
        @include padding-component("mobile");

        @include tablet-responsive {
            justify-content: flex-start;

            @include flex-item-realestate(1, 1, 30%);
            @include padding-component("none");
        }
    }

    &__logo {
        max-width: 7.5rem;
    }

    // actions includes search and upload
    &__actions {
        @extend .flex-container;
        justify-content: space-between;
        column-gap: 2%;
        row-gap: $size-increment-x2;

        @include flex-item-realestate(1, 1, 100%);

        @include tablet-responsive {
            @include flex-item-realestate(1, 1, 65%);
            row-gap: 0;
            column-gap: $size-increment-x2;
        }

        @include desktop-responsive {
            @include flex-item-realestate(1, 1, 30%);
        }
    }

    &__form {
        @include flex-item-realestate(1, 1, 70%);

        @include tablet-responsive {
            @include flex-item-realestate(1, 1, 50%);
        }
    }

    &__search {
        @extend .form-field;

        background: url('../../assets/icons/search.svg') $size-increment-x1-1 center no-repeat;
        padding-left: 1.875rem;

        @include tablet-responsive {
            height: $size-increment-x3-1;
            @include flex-item-realestate(1, 1, 30%);
        }
    }

    &__upload {
        @include flex-item-realestate(1, 1, 100%);

        @include tablet-responsive {
            @include flex-item-realestate(1, 1, 30%);
        }
    }

    &__action {
        @extend .call-to-action;
        @extend .call-to-action--upload;
    }

    .avatar {
        @include tablet-responsive {
            align-self: center;
            order: 2;
        }

        @include desktop-responsive {
            margin-left: $size-increment-x2;
        }
    }
}