// Load SASS partials
@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_reset.scss' as *;
@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_fontface.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

.player {
    &__container {
        @extend .container;
        padding: 0;
    }

    &__stage {
        background-color: $alternate-color-main;
    }

    &__video {
        width: 100%;
        padding-top: 55.25%;
        height: 0px;
        position: relative;
    }

    &__media {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}