@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_globals.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

.comments {
    &__comment {
        @extend .flex-container;

        justify-content: flex-start;
        flex-wrap: nowrap;
        column-gap: $size-increment-x2;

        @include tablet-responsive {
            column-gap: $size-increment-x2-1;
        }

        @include desktop-responsive {
            padding-right: $size-increment-x2-1;
        }
    }

    &__item {
        @extend .flex-container;
        
        justify-content: space-between;
        
        @include flex-item-realestate(1, 1, 100%);
    }

    &__name, &__date {
        @include padding-component("mobile");

        @include tablet-responsive {
            @include padding-component("tablet");
        }
    }

    &__name {
        font-weight: $font-weight-bold;
    }

    &__date {
        color: $primary-color-tertiary;    
    }

    &__body {
        @include flex-item-realestate(1, 1, 100%);
    }

    &__divider {
        margin-top: $size-increment-x2;
        margin-bottom: $size-increment-x2;

        @include tablet-responsive {
            margin-top: $size-increment-x2-1;
            margin-bottom: $size-increment-x2-1;    
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        @include desktop-responsive {
            &:last-of-type {
                display: none;
            }
        }
    }
}